/* regole generali css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(116, 190, 215);
  font-family: ‘Nerko One’, cursive;
}

/* contenuto pagina css */

header{
  margin: 40px 20%;
  color: white;
  font-size: 20px;
  width: 700px;
  text-align: center;
}

main{
  width: 700px;
  margin: 20px 20%;
  margin-bottom: 0px;

}

.carta{
  width: 150px;
  height: 200px;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px


}

#special-carta{
  background-image: url(../img/pattern.png);
  background-size: 150px;
  border-radius: 10px;

}

img{
  width: 150px;
  height: 200px;
  position: absolute;
   /* z-index: 0; */
  background-color: white;
  display: none;
  border-radius: 10px;
}

.carta:hover img{
  display: block;

}

/* .tractor{
  background-image: url(../img/noun_Tractor_3134797.png);
  background-size: 150px; */

}

footer{
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  width: 700px;
  margin: 0 20%;

}
